<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="purchase">

	<select id="searchBuy" parameterType="String"
		resultType="purchase.BuyVO">
		<![CDATA[
			SELECT *
			  FROM goods_buy 
			 WHERE userID = #{userID}
		]]>
	</select>
	
	<insert id="addBuy" parameterType="purchase.BuyVO">
		<![CDATA[
			INSERT
			  INTO goods_buy (userID,pcode,date)
			VALUES (#{userID},#{pcode},now())
		]]>
	</insert>

	<delete id="deleteBuy" parameterType="int">
		<![CDATA[
			DELETE
			  FROM goods_buy
			 WHERE buycode = #{buycode}
		]]>
	</delete>
	
		<select id="searchCart" parameterType="String"
		resultType="purchase.CartVO">
		<![CDATA[
			SELECT *
			  FROM cart 
			 WHERE userID = #{userID}
		]]>
	</select>
	
	<insert id="addCart" parameterType="purchase.CartVO">
		<![CDATA[
			INSERT
			  INTO cart (userID,pcode)
			VALUES (#{userID},#{pcode})
		]]>
	</insert>

	<delete id="deleteCart" parameterType="int">
		<![CDATA[
			DELETE
			  FROM cart
			 WHERE cartcode = #{cartcode}
		]]>
	</delete>


</mapper>
